<h2><%= @article.title %> was deleted</h2>
<form action="/articles/<%= @article.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>