
<form action="/articles/<%= @article2.id %>" method="post">
    <h2><%= "Title: #{@article2.title}" %></h2>
    <input id ="title" type="text ..." name="title">

    <h2><%= "Content: #{@article2.content}" %></h2>
    <input id ="content" type="text ..." name="content">
    <input id="submit" type="submit">
    <input id="hidden" type="hidden" name="_method" value="patch">
</form>