<form action='/articles' method="post">

  <p>
    <label>Article Title:</label>
    <input type="text" id = "title" name="title">
    <br>
    <label>Article Content:</label>
    <textarea type="text" id = "content" name="content">
    </textarea>
  </p>

  <input type="submit">
  
</form>

