<h1>Write a Post:</h1>
<form method='post' action='/articles'>
    <ol>
        <li><label for="title"> Title:</label></li>
        <input type="text" id="title" name="title"><br>
        <li><label for="content">Content:</label></li>
        <textarea id="content" type="text" name="content"></textarea>
        
    </ol>
    <input type='submit' value='submit' id='submit'>
</form>