<h1> Create Article </h1>
<form method="post" action="/articles">
    <p> Article Title:<input type="text" name="title"></p>
    <p> Article Content:<textarea type="text" name="content"></textarea></p>
    <input type="submit" id="submit">
</form>