<form method="post" action="/articles">
  <label>Title</label>
  <input id="title" type="text" name="title">
  <label>Content</label>
  <input id="content" type="text" name="content">
  <input type="submit">
</form>
