<form method = "post" action = "/articles">
    Title: <input type= "text" id= "title" name= "title">
    Content: <input type = "text" id = "content" name = "content">
    <input type ="submit" id = "submit">
</form>
